source https://www.nuget.org/api/v2
storage: none
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.UrlBuilder
nuget Fable.FontAwesome
nuget Fable.FontAwesome.Free
nuget Fable.SimpleHttp
nuget FSharp.Core redirects: force
nuget Fulma
nuget Thoth.Json